<div class="top">

	<div class="image">

	</div>

	<div class="portfolio">
	</div>

	<div class="inquiry">
		<i class="far fa-envelope"></i>
	</div>
</div>

<footer>
	<div class="footer_text">@2020 DAISUKE SAKAMOTO</div>
</footer>